.pizza_card {
	img {
		width: 100%;
	}
	h3 {
		font-size: 20px;
		font-weight: 800;
		text-align: center;
	}
	.filter_block {
		.params_block {
			background: var(--card-gray);
			border-radius: 10px;
			margin: 2.5vh 0 2vh;
			padding: 1vh 0.5vw;
			button {
				font-size: 14px;
				font-weight: 700;
				background: #fff;
				border-radius: 5px;
			}
			.types_block {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1vw;
				margin-bottom: 1vh;
				button {
					padding: 1vh 1.5vw;
				}
			}
			.size_block {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1vw;
				button {
					padding: 1vh 1vw;
				}
			}
		}
		.total_block {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h4,
			button {
				font-weight: 700;
			}
			h4 {
				font-size: 22px;
			}
			button {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 0.5vw;
				font-size: 16px;
				padding: 1vh 1vw;
				color: var(--button-active);
				border: 2px solid var(--button-active);
				border-radius: 30px;
				.counter {
					display: none;
				}
			}
		}
	}
}
