:root {
	// colors
	--bg-color: #ffdf8c;
	--gray: #7b7b7b;
	--nav-default: #282828;
	--nav-active: #f9f9f9;
	--button-active: #fe5f1e;
	--card-gray: #f3f3f3;

	// padding && margin
	--padding-sides: 5vw;
}
